<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>environment</param-name>
		<param-value>production</param-value>
	</context-param>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.ssdi.controller.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HotelSearchController</servlet-name>
		<servlet-class>com.ssdi.controller.HotelSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelSearchController</servlet-name>
		<url-pattern>/HotelSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FlightSearch</servlet-name>
		<servlet-class>com.ssdi.controller.FlightSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightSearch</servlet-name>
		<url-pattern>/FlightSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TASearch</servlet-name>
		<servlet-class>com.ssdi.controller.TASearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TASearch</servlet-name>
		<url-pattern>/TASearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TARegionSearch</servlet-name>
		<servlet-class>com.ssdi.controller.TARegionSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TARegionSearch</servlet-name>
		<url-pattern>/TARegionSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>com.ssdi.controller.LogIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HotelDetails</servlet-name>
		<servlet-class>com.ssdi.controller.HotelDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelDetails</servlet-name>
		<url-pattern>/HotelDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hotelCostCalculation</servlet-name>
		<servlet-class>com.ssdi.controller.hotelCostCalculation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hotelCostCalculation</servlet-name>
		<url-pattern>/hotelCostCalculation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HotelBook</servlet-name>
		<servlet-class>com.ssdi.controller.HotelBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HotelBook</servlet-name>
		<url-pattern>/HotelBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FlightOnewayDetails</servlet-name>
		<servlet-class>com.ssdi.controller.FlightOnewayDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FlightOnewayDetails</servlet-name>
		<url-pattern>/FlightOnewayDetails</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoyalityPoints</servlet-name>
		<servlet-class>com.ssdi.controller.LoyalityPoints</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoyalityPoints</servlet-name>
		<url-pattern>/LoyalityPoints</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewBookings</servlet-name>
		<servlet-class>com.ssdi.controller.ViewBookings</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewBookings</servlet-name>
		<url-pattern>/ViewBookings</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deleteHotelServlet</servlet-name>
		<servlet-class>com.ssdi.controller.deleteHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteHotelServlet</servlet-name>
		<url-pattern>/deleteHotelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.ssdi.controller.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addHotelServlet</servlet-name>
		<servlet-class>com.ssdi.controller.addHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addHotelServlet</servlet-name>
		<url-pattern>/addHotelServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>addHotelDetailServlet</servlet-name>
		<servlet-class>com.ssdi.controller.addHotelDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addHotelDetailServlet</servlet-name>
		<url-pattern>/addHotelDetailServlet</url-pattern>
	</servlet-mapping>
</web-app>